

#country-container {
	text-align: center;
}

a.country {
	height: 200px;
	width: 200px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	background-image: url(/static/img/country.svg);
	padding-top: 70px;
	color: black;
}

a.country h2 {
	margin-top: 0;
}

a.country-active {
	background-image: url(/static/img/country_activated.svg);
}

a.country:hover {
	background-image: url(/static/img/country_activated.svg);
}

a.navbar-brand-logo {
	padding: 10px;
}

a.navbar-brand-logo img {
	height: 30px;
}