

a.country {
	height: 200px;
	width: 200px;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	background-image: url(/static/img/country.svg);
	padding-top: 70px;
	color: black;
	margin-bottom: 50px;
}

a.country h2 {
	margin-top: 0;
}

a.country-active {
	background-image: url(/static/img/country_activated.svg);
}

a.country:hover {
	background-image: url(/static/img/country_activated.svg);
}

a.navbar-brand-logo {
	padding: 10px;
}

a.navbar-brand-logo img {
	height: 30px;
}

.nv-bar {
  fill: #17A2E1 !important;
}

.nv-bar:hover {
  fill: #27B2F1 !important;
}

.carousel-indicators li {
	border-color: gray;
	margin-left: 8px;
	margin-right: 8px;
	height: 15px;
	width: 15px;
}

.carousel-indicators li.active {
	background-color: gray;
	margin-left: 8px;
	margin-right: 8px;
	height: 15px;
	width: 15px;
}

.carousel-inner div, #countries-large-screen {
	text-align: center;
}
